annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
exceptiongroup
fastapi
h11
idna
iniconfig
packaging
pluggy
pydantic
pydantic_core
Pygments
pytest
python-dotenv
requests
starlette
tomli
typing-inspection
typing_extensions
urllib3
uvicorn
streamlit